*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-line{
    background-color: #f1f1f1;
    padding: 3px;
    text-align: center;
}
.line-empty{
    padding: 5px;
    background: rgb(255, 255, 255);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content{
    padding-top: 60px;
}  
nav{
    background:white;
    padding: 0px 10px 0 0;
}

nav::after{
    content: "";
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
    padding-left: 20px;
    background:linear-gradient(120deg,#5433FF,#20BDFF,#A5FECB);
    background-size: 40%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 5s infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 115% 50%;
    }
  }
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background: white;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(0, 87, 248);
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    margin: 0 10px;
}
nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 70px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    background-color:  white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav ul ul li a{
    line-height: 50px;
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    right: 150px;
}

.fa-plus{
    margin-left: 20px;
    font-size: 15px;
}
.show,.icon,input{
    display: none;
}
@media all and (max-width:900px){
    nav ul{
        margin-right: 0px;
        width: 100%;
    }
    nav .logo{
        padding-left: 20px;
        width: 100%;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li{
        position: static;
    }
    nav ul ul li{
        padding-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul a{
        padding-left: 60px;
    }
    .show{
        display: block;
        color:rgb(0, 87, 248);
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: cyan;
    }
    .icon{
        display: block;
        color: rgb(0, 87, 248);
        position: absolute;
        right: 20px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;

    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a,ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    .textfac{
        width: 100%;
    }   
    .profileTeacher{
        flex-direction: column;
    }
}

.card img{
    -webkit-border-radius: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border:10px solid;
    border-image: radial-gradient(circle farthest-corner at center, rgba(84, 51, 255, 1) 25%, rgba(32, 189, 255, 1) 50%, rgba(165, 254, 203, 1) 75%, rgba(8, 135, 247, 1) 100%) 10% round; 
    
}
  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a{
    text-decoration: none;
    font-size: 22px;
    
}
  
button:hover, a:hover {
    transition: all 0.5s ease;
    color: #e40dc7;
}
  
.card:hover {
    box-shadow: 10px 20px 20px 0 rgba(0,0,0,0.2);
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  
